body {
    background: rgb(83,21,109);
    background: radial-gradient(circle, rgba(83,21,109,1) 0%, rgba(40,24,92,1) 100%);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background: rgba(255, 255, 255, 0.735);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}
#ninput,#seltab,#btn {
    background: rgba(0, 0, 0, 0);
    font-weight: bold;

}
h1{
    font-family: 'Courier New', Courier, monospace;
}
#ninput {
    width: 50px;
}
#seltab {
    width: 176px;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}